doctype html
html
  head
    title Requests data
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css")
  body
    div.container
      h1 Submitted requests
      -var requestsList = requests
      div.row
        table.table.table-hover
          thead
            tr: th Users
          tbody
            tr
              th="Address"
              th="Number of People"
              th="Number of Children"
              th="Phone number"
              th="Message"
              th="Date"
              th="Status"
          each request in requests
            tr
              td=request.address
              td=request.num_people
              td=request.num_children
              td=request.phone_number
              td=request.message
              td=request.createdAt
              td
                form(action="/changeStatus/"+request.id, method="post")
                  input(type="text" name="status" value=request.status) 
                  input(type="submit")